@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Custom Animations */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Autofill styling override for dark theme */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #111 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Custom Dark Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #050505;
}

::-webkit-scrollbar-track {
    background-color: #050505;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
    border: 1px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}